html {
  scroll-behavior: smooth;
}

.body {
  font-family: 'Poppins', sans-serif;
}

.fade-in {
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.image {
  width: 65px;
}

.borderWidth {
  border: 2px white solid;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: ease-in-out 0.5s;
}

.borderWidth:hover {
  border: 3px #4d81b5 solid;
  transform: scale(1.25);
}

.name {
  font-family: 'Satisfy', cursive;
  font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding: 2rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #4d81b5;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: #4d81b5;
  border-bottom: 2px solid #4d81b5;
}

#nav-btn {
  border: 1px solid #343a40;
  border-radius: 50px;
  margin: 2rem;
  padding: 0rem 2rem;
  background-color: white;
  color: #343a40;
}

#nav-btn:hover {
  background-color: #4d81b5;
  color: white;
}

#logo-link {
  border-bottom: none;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(hero-image.jpg);
  background-size: cover;
  height: 50vh;
}
.hero-text {
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.underline {
  border-bottom: 5px solid #4d81b5;
}

#about:target::before {
  content: '';
  display: block;
  height: 120px;
  margin: -70px 0 0;
}

.me {
  font-weight: 700;
}

#about-btn {
  border-radius: 50px;
  text-align: center;
  padding: 0.5rem;
  background-color: #4d81b5;
  color: white;
  cursor: pointer;
}

#about-btn:focus {
  outline: none;
}

.more-about-me {
  display: none;
  margin-top: 20px;
}

.show {
  display: block;
}

#Treehouse {
  color: #5fcf80;
}

#development:target::before {
  content: '';
  display: block;
  height: 120px; /* fixed header height*/
  margin: -70px 0 0; /* negative fixed header height */
}

h2 {
  margin: 3rem;
  font-weight: bold;
  line-height: 50px;
  font-size: 2rem;
  color: #343a40;
}

h2:hover {
  border-bottom: 5px solid #4d81b5;
}

p {
  color: #343a40;
}

.titles {
  color: #343a40;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.icon {
  height: 35px;
}

#portfolio:target::before {
  content: '';
  display: block;
  height: 120px; /* fixed header height*/
  margin: -70px 0 0; /* negative fixed header height */
}

.languages {
  height: 45px;
}

.from-left {
  grid-column: 2/3;
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3/4;
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 450ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.work {
  width: 100%;
  margin: 20px;
  border-radius: 5px;
}

.Imagecontainer {
  position: relative;
}

.imgWrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4d81b5;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 20%;
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

.imgWrap:hover .overlay {
  height: 100%;
  opacity: 1;
}

.imageText {
  cursor: pointer;
  border: 1px white solid;
  padding: 0 2rem;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.demo {
  background-color: #4d81b5;
  color: white;
  margin-right: 10px;
}

.code {
  color: white;
  background-color: #343a40;
}

.code a {
  text-decoration: none;
  color: white;
}
#contact:target::before {
  content: '';
  display: block;
  height: 120px; /* fixed header height*/
  margin: -70px 0 0; /* negative fixed header height */
}

svg {
  margin: 1.5rem;
  transition: ease-in-out 0.3s;
}

svg:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  justify-content: space-between;
  color: white;
}

.signoff {
  color: white;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }

  .image {
    width: 80px;
  }
  .logoWidth {
    width: 500px;
  }

  header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/images/sunset.jpg');
    background-size: cover;
    height: 100vh;
  }
  .hero-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
  }

  .languages {
    height: 80px;
  }

  svg {
    margin: 2rem;
  }

  .contactP {
    font-size: 1.3rem;
  }
}
